<table class="table table-bordered table-light table-striped">
    <thead class="table-light" colspan="4">
        <td>No.</td>
        <td>Location Id</td>
        <td>Quantity</td>
        <td>Move</td>
    </thead>
    <tr *ngFor="let invdtl of invdtl_list; index as i;" class="table table-row">
        <td> {{i+1}}</td>
        <td> {{invdtl.store_lcoation_id}} </td>
        <td> {{invdtl.quantity}} </td>
        <td> 
            <button   (click)="callMoveInventory(i)" class="btn btn-info btn-sm" >
                 move
            </button>
        </td>    
     </tr>
    
</table> 

